*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.head{
    margin: 2.5rem 0 1.875rem 3.4375rem;
    text-align: left;
}
.h2{
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 0.4375rem;
}
.b1{
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    margin-left: 3.125rem;
}
.box1{
    background-color: #d9e7ef;
    display: flex;
   
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #d9e7ef;
    height: 3.125rem;
    width: 28.125rem;
    border-radius: 0.5rem;
    color: black;
    margin: 1.25rem 0.625rem 1.25rem 0;
}
.box1:hover{
    cursor: pointer;
    background-color: #7ebadd;
}
.l{
    margin: 0.625rem;
}
.check{
    height: 3.125rem;
    width: 3.125rem; 
    border-radius: 0.5rem;
    margin-bottom: 0;
}
.img{
    height: 1.875rem;
    width: 1.875rem;
}
.line{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: row;
}
.l1{
  height: 0.1875rem;
  width: 40%;
  background-color: black;
}
.l2{
    height: 0.1875rem;
    width: 60%;
    background-color: gray;
}
.foor{
    display: flex;
}
.bc{
    height: 1.875rem;
    width: 6.25rem;
    margin-top: 1.875rem;
    margin-left: 0.625rem;
    background-color: white;
    border: 1px solid #d9e7ef;
    border-radius: 0.3125rem;
}
.bc:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

@media (max-width: 600px) {
    .main {
        margin-left: 0.3125rem;
    }
    .b1 {
        flex-direction: column;
        align-items: flex-start;
    }
    .box1 {
        width: 100%; /* Full width on small screens */
        height: 2.8125rem;
    }
    .bc {
        margin-top: 5rem;
        margin-left: 0px;
        width: 5.625rem;
    }
    .img {
        height: 1.5625rem;
        width: 1.5625rem;
    }
    .h2 {
        font-size: 1.2rem; /* Smaller heading */
    }
}

/* For tablets and medium devices */
@media (min-width: 600px) and (max-width: 1024px) {
    .box1 {
        width: 21.875rem; /* Smaller width on tablets */
        height: 3.125rem;
    }
    .bc {
        margin-top: 6.25rem;
        width: 5rem;
    }
}

